In [1]:
import pandas as pd
import numpy as np

#### Import Data

In [2]:
df = pd.read_csv('../raw_data/FM_data_21.csv', low_memory = False)

In [3]:
df.head()

,Name,Club,Nat,Division,Position,Sec. Position,DoB,Age,Preferred Foot,Right Foot,...,Bal,Kic,Sta,Agi,Wor,Bra,Cmd,Fin,1v1,TRO
0,Kevin De Bruyne,Man City,BEL,English Premier Division ...,"M (RLC), AM (C)",M (RL),28/6/1991 (29 years old),29,Either,Very Strong,...,15,3,17,13,15,12,3,16,1,3
1,Harry Kane,Tottenham,ENG,English Premier Division ...,"AM (C), ST (C)",AM (C),28/7/1993 (27 years old),26,Either,Very Strong,...,13,3,17,12,18,16,2,19,3,3
2,Mohamed Salah,Liverpool,EGY,English Premier Division ...,"AM (RL), ST (C)",AM (L),15/6/1992 (28 years old),28,Left,Weak,...,18,1,14,16,15,11,3,18,3,2
3,Sadio Mané,Liverpool,SEN,English Premier Division ...,"AM (RL), ST (C)",ST (C),10/4/1992 (28 years old),28,Right,Very Strong,...,16,1,14,16,15,11,3,17,2,4
4,Son Heung-Min,Tottenham,KOR,English Premier Division ...,"M/AM (RL), ST (C)","M (RL), AM (R)",8/7/1992 (28 years old),28,Either,Very Strong,...,12,2,16,15,17,6,2,18,2,1

In [4]:
df.rename(str.strip, axis='columns', inplace = True)

In [5]:
df["Preferred Foot"] = df["Preferred Foot"].str.strip()

In [6]:
df['Preferred Foot'] = df['Preferred Foot'].replace("Right Only", "Right")
df['Preferred Foot'] = df['Preferred Foot'].replace("Left Only", "Left")

In [7]:
# Drop rows where "Preferred Foot" is blank
df = df[df["Preferred Foot"] != '']

# Reset index if you want
df = df.reset_index(drop=True)

# Display the updated DataFrame
df.head()

,Name,Club,Nat,Division,Position,Sec. Position,DoB,Age,Preferred Foot,Right Foot,...,Bal,Kic,Sta,Agi,Wor,Bra,Cmd,Fin,1v1,TRO
0,Kevin De Bruyne,Man City,BEL,English Premier Division ...,"M (RLC), AM (C)",M (RL),28/6/1991 (29 years old),29,Either,Very Strong,...,15,3,17,13,15,12,3,16,1,3
1,Harry Kane,Tottenham,ENG,English Premier Division ...,"AM (C), ST (C)",AM (C),28/7/1993 (27 years old),26,Either,Very Strong,...,13,3,17,12,18,16,2,19,3,3
2,Mohamed Salah,Liverpool,EGY,English Premier Division ...,"AM (RL), ST (C)",AM (L),15/6/1992 (28 years old),28,Left,Weak,...,18,1,14,16,15,11,3,18,3,2
3,Sadio Mané,Liverpool,SEN,English Premier Division ...,"AM (RL), ST (C)",ST (C),10/4/1992 (28 years old),28,Right,Very Strong,...,16,1,14,16,15,11,3,17,2,4
4,Son Heung-Min,Tottenham,KOR,English Premier Division ...,"M/AM (RL), ST (C)","M (RL), AM (R)",8/7/1992 (28 years old),28,Either,Very Strong,...,12,2,16,15,17,6,2,18,2,1

In [8]:
df["Preferred Foot"].unique()

array(['Either', 'Left', 'Right'], dtype=object)

In [9]:
df["Left Foot"] = df["Left Foot"].str.strip()
df["Right Foot"] = df["Right Foot"].str.strip()

In [10]:
df["Preferred Foot"] = np.where((df["Left Foot"] == "Very Strong") & (df["Preferred Foot"] == "Either"), "Either_left", df["Preferred Foot"])
df["Preferred Foot"] = np.where((df["Right Foot"] == "Very Strong") & (df["Preferred Foot"] == "Either"), "Either_right", df["Preferred Foot"])

In [11]:
df["Preferred Foot"].unique()

array(['Either_right', 'Either_left', 'Left', 'Right'], dtype=object)

In [12]:
import pandas as pd

# Assuming df is your DataFrame
# Replace "Preferred Foot" with your actual column name
# If you haven't already removed leading and trailing whitespaces, you can use df["Preferred Foot"] = df["Preferred Foot"].str.strip() before encoding

# Perform one-hot encoding and convert to integers (0 or 1)
df_encoded = pd.get_dummies(df["Preferred Foot"], prefix="Preferred_Foot").astype(int)

# Concatenate the new one-hot encoded columns to the original DataFrame
df = pd.concat([df, df_encoded], axis=1)

# Drop the original "Preferred Foot" column if needed
df = df.drop("Preferred Foot", axis=1)

In [13]:

# Display the updated DataFrame
df.head()

,Name,Club,Nat,Division,Position,Sec. Position,DoB,Age,Right Foot,Left Foot,...,Wor,Bra,Cmd,Fin,1v1,TRO,Preferred_Foot_Either_left,Preferred_Foot_Either_right,Preferred_Foot_Left,Preferred_Foot_Right
0,Kevin De Bruyne,Man City,BEL,English Premier Division ...,"M (RLC), AM (C)",M (RL),28/6/1991 (29 years old),29,Very Strong,Strong,...,15,12,3,16,1,3,0,1,0,0
1,Harry Kane,Tottenham,ENG,English Premier Division ...,"AM (C), ST (C)",AM (C),28/7/1993 (27 years old),26,Very Strong,Very Strong,...,18,16,2,19,3,3,1,0,0,0
2,Mohamed Salah,Liverpool,EGY,English Premier Division ...,"AM (RL), ST (C)",AM (L),15/6/1992 (28 years old),28,Weak,Very Strong,...,15,11,3,18,3,2,0,0,1,0
3,Sadio Mané,Liverpool,SEN,English Premier Division ...,"AM (RL), ST (C)",ST (C),10/4/1992 (28 years old),28,Very Strong,Reasonable,...,15,11,3,17,2,4,0,0,0,1
4,Son Heung-Min,Tottenham,KOR,English Premier Division ...,"M/AM (RL), ST (C)","M (RL), AM (R)",8/7/1992 (28 years old),28,Very Strong,Very Strong,...,17,6,2,18,2,1,1,0,0,0